* {
  padding: 0;
  margin: 0;
}

.card-outerContainer {
  width: 100%;
  display: grid;
  place-content: center;
}

.card-container {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 1.8rem;
  margin-bottom: 1.8rem;
}
