* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  /* margin: 50px; */
  display: grid;
  width: 20rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.image-container {
  height: 16.5rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card-text {
  padding: 25px;
  display: grid;
  gap: 10px;
}

.titleOne {
  font-size: 2rem;
  font-weight: 700;
  /* text-transform: capitalize; */
}
.titleTwo {
  font-size: 1.5rem;
  font-weight: 400;
}
.titleThree {
  color: #64748b;
}
.btn1 {
  padding: 8px 0px;
  background-color: #10b981;
  color: white;
  text-transform: capitalize;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

/* @media screen and (max-width: 1536px) {
  .card {
    width: 300px;
  }
  .image-container {
    height: 213px;
  }
} */
/* @media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
  .card-text {
    padding: 15px;
    gap: 5px;
  }
  .card {
    width: 220px;
  }
  .image-container {
    height: 180px;
  }
  .card-outerContainer {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 400px) {
} */
